{
  "extends": "@istanbuljs/nyc-config-typescript",
  "all": true,
  "check-coverage": true,
  "per-file": true,
  "extension": [
    ".mjs"
  ],
  "report-dir": "./docs/coverage",   
    "reporter": [
        "text",
        "html"
    ],
    "showProcessTree": false,
  "include": [
    "src/**/*.mjs"
  ],
  "exclude": [
    "src/**/*.test.mjs"
  ],
  "instrument": true


}