html, body {
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    max-width: 760px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 5px;
    padding-bottom: 0px;
    hyphens: auto;
    overflow-wrap: break-word;
    text-rendering: optimizeLegibility;
    font-kerning: normal;
    font-size: medium;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    margin-top: 1em;
    margin-bottom: 0.2em;
}

.title {
    font-size: 40px;
    font-weight: bolder;
    background-color: firebrick;
    color: white;
    margin-top: 0px;
    padding: 30px;
}

header {
    background-color: firebrick;
    color: white;
    text-align: center;
    margin-bottom: 0px;
}

nav {
    padding-left: 30px;
    margin-bottom: 10px;
}


pre {
    background-color: darkmagenta;
    color: greenyellow;
    overflow-x: scroll;
    padding: 5px;
    padding: '0';
    overflow-wrap: unset;
    text-wrap-mode: nowrap;
    scroll-behavior: smooth;
}

code {
    overflow: scroll;
    display: contents;
    width: fit-content;
    text-wrap: inherit;
    margin: 0px;
    padding: 0px;
    font-size: 12px;
}