

  Custom Assertion Module
    ✔ should assert equal values
    ✔ should assert not equal values
    ✔ should assert typed array
    ✔ should disable debug assertions

  Logger
    ✔ should log a message to the console and prepend it to the output div

  Material
    ✔ should set base color
    ✔ should set ambient color
    ✔ should set diffuse color
    ✔ should set specular color
    ✔ should set emission color
    ✔ should set base color from hex
    ✔ should create texture
    ✔ should handle texture loaded

  Matrix
    ✔ should create an identity matrix
    ✔ should push and pop matrix
    ✔ should create a perspective matrix
    ✔ should create an orthographic matrix

  Vector2
    ✔ should create a Vector2 with given x and y
    ✔ should add two Vector2 instances
    ✔ should subtract two Vector2 instances
    ✔ should multiply a Vector2 by a scalar
    ✔ should divide a Vector2 by a scalar
    ✔ should calculate the dot product of two Vector2 instances
    ✔ should normalize a Vector2
    ✔ should calculate the length of a Vector2
    ✔ should calculate the distance between two Vector2 instances
    ✔ should calculate the angle between two Vector2 instances
    ✔ should clone a Vector2
    ✔ should convert a Vector2 to a string
    ✔ should create a Vector2 from an array
    ✔ should convert a Vector2 to an array

  Vector3
    ✔ should create a Vector3 with given x, y, and z
    ✔ should add two Vector3 instances
    ✔ should subtract two Vector3 instances
    ✔ should multiply a Vector3 by a scalar
    ✔ should divide a Vector3 by a scalar
    ✔ should calculate the dot product of two Vector3 instances
    ✔ should calculate the cross product of two Vector3 instances
    ✔ should normalize a Vector3
    ✔ should calculate the length of a Vector3
    ✔ should calculate the distance between two Vector3 instances
    ✔ should calculate the angle between two Vector3 instances
    ✔ should clone a Vector3
    ✔ should convert a Vector3 to a string
    ✔ should create a Vector3 from an array
    ✔ should convert a Vector3 to an array
    ✔ should calculate the surface normal of three Vector3 instances

  Vector4
    ✔ should create a Vector4 with given x, y, z, and w
    ✔ should add two Vector4 instances
    ✔ should subtract two Vector4 instances
    ✔ should multiply a Vector4 by a scalar
    ✔ should divide a Vector4 by a scalar
    ✔ should calculate the dot product of two Vector4 instances
    ✔ should normalize a Vector4
    ✔ should calculate the length of a Vector4
    ✔ should calculate the distance between two Vector4 instances
    ✔ should calculate the angle between two Vector4 instances
    ✔ should clone a Vector4
    ✔ should convert a Vector4 to a string
    ✔ should create a Vector4 from an array
    ✔ should convert a Vector4 to an array

  Vertex2D
    ✔ should create a Vertex2D with given x and y

  Vertex3D
    ✔ should create a Vertex3D with given x, y, and z
    ✔ should initialize uv to (0, 0)


  64 passing (103ms)

